


<red-nav-bar></red-nav-bar>




<div class="">
  <div class="">
    <h1>EMAIL SIGN UP</h1>
  </div>
  <h3>Sign up for emails to get the latest styles and offers!</h3>


  <input type="text" name="email" value="Email">


  <input type="checkbox" name="" value="Newself's Email">
  <input type="checkbox" name="" value="Newself's Podcast">


  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

  <p>Check out our Privacy Notices and Terms of Use. You can unsubscribe from emails at any time. Contact Us</p>

</div>
